@charset "utf-8";
/* 스팁 내비게이션 */
#skip {
  position: relative;
}
#skip a {
  position: absolute; 
  left: 0px; 
  top: -35px; 
  border: 1px solid #fff; 
  color: #fff; 
  background: #333; 
  line-height: 30px; 
  width: 160px; 
  text-align: center;
}
#skip a:active,
#skip a:focus {
  top: 0;
}

/* 레이아웃 */
#wrap {
  width: 100%;
}
#header {
  width: 100%; 
  height: 325px; 
  background: url(../img/header_bg.jpg) center top repeat-x;
}
#contents {
  width: 100%; 
  height: 800px; 
  background: #222;
}
#footer {
  width: 100%; 
  height: 200px; 
  background: #333;
}

/* 컨텐츠 레이아웃 */
#cont-nav {
  width: 100%; 
  height: 200px; 
  background: #333;
}
#cont-tit {
  width: 100%; 
  height: 200px; 
  background: #444;
}
#cont-ban {
  width: 100%; 
  height: 200px; 
  background: #555;
}
#cont-cont {
  width: 100%; 
  height: 200px; 
  background: #666;
}

/* 컨테이너 */
.container {
  width: 990px; 
  height: inherit; 
  margin: 0 auto; 
  background: rgba(255, 255, 255, 0.3);}

/* 헤더 */
.header {
  
}
.header .header-menu {
  text-align: right;
}
.header .header-menu a {
  color: #fff;
  padding: 10px 0 10px 13px;
  display: inline-block;
}
.header .header-tit {
  text-align: center;
}
.header .header-tit h1{
  background: #4aa8d4; 
  font-size: 28px; 
  padding: 5px 20px 6px 20px;
  display: inline-block;
  color: #fff;
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: normal;
}
.header .header-tit a{
  display: inline-block;
  background: #2698cb;
  font-size: 18px;
  color: #fff;
  padding: 5px 20px 6px 20px; ;
  margin-top: -5px;
}